#container {
  width: 620px;
  height: 900px;
  margin: auto;
  background-color: #fafafa;
  border-top: 8px #3b8894 solid;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
}
#header > div {
  display: flex;
  align-items: center;
}
#bx {
  width: 75px;
  height: 72px;
  background-color: #3b8894;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 0 30px 0 20px;
}
#footer {
  display: flex;
  justify-content: space-between;
  height: 500px;
  /* border: solid; */
}
#sidebar {
  width: 45%;
  height: 400px;
}
#sidebar > div {
  width: 85%;
  height: 47px;
  border-radius: 5%;
  background-color: white;
  border-radius: 6px;

  margin-top: 5%;
  margin-left: 4%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#sidebar > div:hover {
  background-color: #3b8894;
  color: white;
  cursor: pointer;
}
#sidebar h4 {
  padding: 13px 0 0 10px;
}
#leftbar {
  width: 50%;
  height: 400px;
  margin: 0 20px 0 0;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#mac {
  display: flex;
  justify-content: space-around;
}
#cheaks {
  display: flex;
  justify-content: space-around;
}
#cheakbox-inp {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin: 20px 0 0 10px;
}
#cheakbox-inp:checked {
  background-color: gray;
}
.inp {
  padding: 10px;
  width: 85%;
  margin-top: 20px;
  border-radius: 6px;
  margin-left: 4%;
}
.mik {
  padding: 10px;
  width: 35%;
  margin-top: 20px;
  border-radius: 6px;
  margin-left: 4%;
}
#leftbar img {
  width: 80%;
  margin-top: 20px;
}
#btn {
  background-color: #3b8894;
  font-weight: 700;
  color: white;
  font-size: 16px;
}
#footer2 {
  text-align: center;
  width: 90%;
}
#pay {
  width: 90%;
}
